:root {
  --primary-color: #969696;
  --bs-body-bg: #EAEAEA;
  --rda-navbackground: #969696;
  --rda-widgetsbackground: #353F4E;
}

/* Navigation bar */
.navbar {
  background-color: var(--rda-navbackground)!important;
}

.nav-link{
  color: var(--rda-widgetsbackground);
  font-size:1rem;
  font-weight:800;
  text-transform: uppercase;
}


.nav-link:hoover{
  color:white;
}



/* Fonts and text etc. */
html {
  text-align: left;
}

h1{
  font-size: 1.5rem;
  border: 2px solid;
  border-top: none;
  border-left: none;
  border-right: none;
  padding-bottom: 5px;
  margin-top: 25px;
  text-transform: uppercase;
  margin-bottom: 15px;
}

h2{
  font-size: 1rem;
  border: 2px solid;
  border-top: none;
  border-left: none;
  border-right: none;
  padding-bottom: 5px;
  margin-top: 25px;
  text-transform: uppercase;
  margin-bottom: 15px;
}

p{
  font-size: 1rem;
}

span {
  margin-left:calc(-0.5 * var(--bs-gutter-x));
}

li:hover a {
  background-color: var(--rda-navbackground);
  color:var(--rda-navbackground);
}


/* Widgets */
.ui-widget-content {
  border: 1px solid var(--rda-widgetsbackground);
  background-color:var(--rda-widgetsbackground);
  color:white;
  border-radius:4px;
}

body .ui-inputfield {
  border: 1px solid var(--rda-widgetsbackground);
  background-color:var(--rda-widgetsbackground);
  color:white;
  border-radius:4px;
}

body .ui-selectonemenu {
  border: 1px solid var(--rda-widgetsbackground);  
  background-color:var(--rda-widgetsbackground);
  color:white;
  border-radius:4px;
}

body .ui-selectonemenu .ui-state-hover{
  border: 1px solid var(--rda-navbackground);
  background-color: var(--rda-navbackground);
  color:black;
}


body .ui-selectonemenu .ui-selectonemenu-trigger .ui-icon{
  color:white;
}


body .ui-button {
  border: 1px solid var(--rda-widgetsbackground);
  background-color: var(--rda-widgetsbackground);
  color:white;
  border-radius:4px;
}


body .ui-button.ui-state-hover {
  border: 1px solid var(--rda-navbackground);
  background-color: var(--rda-navbackground);
  color:black;
}

body .ui-icon {
  border: 1px solid var(--rda-widgetsbackground);
  background-color: var(--rda-widgetsbackground);
  color:white;
  border-radius:4px;
}

.ui-fileupload {
  border: 1px solid;
  padding: 1rem;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  margin-left: -5px;
  background: var(--rda-navbackground);
  border-color: var(--rda-widgetsbackground);
}


/* Tables Results tab*/
.ui-datatable thead th .ui-column-title {
  font-weight: 600;
  vertical-align: middle;
}

.ui-datatable thead th {
  background: var(--bs-body-bg);
  color: var(--rda-widgetsbackground);
  padding: 1rem 1rem;
  border: 1px white;
  text-align: left;
  text-transform: uppercase;
  box-sizing: content-box;
}

.col-lg-5 {
  flex: 0 0 auto;
  width: 41.66666667%;
  color: var(--rda-widgetsbackground);
  text-transform: uppercase;
  font-weight: 600;
}

/* This is the upload form div*/
.card {
  background-color: var(--bs-body-bg);
  border: 0px;
}

label {
    display: inline-block;
    color: var(--rda-widgetsbackground);
    text-transform: capitalize;
}


/* Test for with ID*/

#uploadForm:messages {
  margin-left:10px;
}


/* Uitlijning*/

.row {
  margin-left: calc(-0.5 * var(--bs-gutter-x));
}

