
:root {
  --primary-color: #969696;
  --bs-body-bg: #EAEAEA;
  --rda-navbackground: #969696;
  --rda-widgetsbackground: #353F4E;
}

/* Navigation bar */
.navbar {
  background-color: var(--rda-navbackground)!important;
}

.nav-link{
  color: var(--rda-widgetsbackground);
  font-size:1rem;
  font-weight:800;
  text-transform: uppercase;
  transition: none;
}


/* Fonts and text etc. */
html {
  text-align: left;
}

h1{
  font-size: 1.5rem;
  border: 2px solid;
  border-top: none;
  border-left: none;
  border-right: none;
  padding-bottom: 5px;
  margin-top: 25px;
  text-transform: uppercase;
  margin-bottom: 15px;
  color: var(--rda-widgetsbackground);  
}

h2{
  font-size: 1rem;
  border: 2px solid;
  border-top: none;
  border-left: none;
  border-right: none;
  padding-bottom: 5px;
  margin-top: 25px;
  text-transform: uppercase;
  margin-bottom: 15px;
  color: var(--rda-widgetsbackground);  
}

p, a{
  font-size: 1rem;
  color: var(--rda-widgetsbackground);  
  text-decoration:none;
}




/* Widgets */
body .ui-inputfield, body .ui-button, body .ui-selectonemenu, body .ui-selectonemenu-label,
body .ui-icon, body .ui-icon-triangle-1-s, body .ui-c, 
button, input, optgroup, select, textarea, .btn-primary, body .ui-selectonemenu-trigger  {
  border: 1px solid var(--rda-widgetsbackground);  
  background-color:var(--rda-widgetsbackground);
  color:white;
  border-radius:4px;
  text-transform: capitalize;
  border-color:var(--rda-widgetsbackground);
  line-height:1;
}

button, input, optgroup, select, textarea{
  padding: 0.5rem 1rem 0.5rem 1rem
}

body .ui-selectonemenu .ui-selectonemenu-trigger .ui-icon{
  color:white;
}


body .ui-corner-all{
  border:0;
}

body .ui-fileupload {
  border: 1px solid var(--rda-widgetsbackground);
  padding: 1rem;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  background-color: var(--rda-widgetsbackground);
  border-color: var(--rda-widgetsbackground);
}


body .ui-selectonemenu-panel .ui-selectonemenu-items .ui-selectonemenu-item.ui-state-highlight,
body .ui-selectonemenu-panel .ui-selectonemenu-items .ui-selectonemenu-item.ui-state-hover{
  background-color:var(--rda-widgetsbackground);
  color:white;
}

body .ui-selectonemenu-panel .ui-selectonemenu-items .ui-selectonemenu-item,
body .ui-selectonemenu-panel .ui-selectonemenu-filter-container{
  background-color: var(--bs-body-bg);
  color: var(--rda-widgetsbackground);
}



/* Hover*/
body.ui-state-hover, body .ui-inputfield.ui-state-hover, body .ui-selectonemenu.ui-state-hover, body .btn-primary:hover,
body .ui-tabs.ui-tabs-top > .ui-tabs-nav li.ui-tabs-header.ui-state-active{
  background-color: var(--rda-navbackground);
  border-color: var(--rda-widgetsbackground);
  color:white;
  box-shadow: 0 0 0 0.2em var(--rda-widgetsbackground);
}

body .ui-button.ui-state-hover{
  background-color: var(--rda-navbackground);
  border-color: var(--rda-widgetsbackground);
  color:white;
  box-shadow: 0;
}

li:hover a, .nav-link:hover, .nav-item:hover, .dropdown-toggle:hover{
  color:white;
  background-color: var(--rda-navbackground); 
}




/* Focus*/

body.ui-state-focus, body .ui-button.ui-state-focus, body .ui-inputfield.ui-state-focus, body .ui-selectonemenu.ui-state-focus, body .btn-primary:focus,
body .ui-corner-all:focus{
  background-color: var(--rda-widgetsbackground);
  border-color: var(--rda-navbackground);
  color:white;
  box-shadow: 0 0 0 0.2em var(--rda-navbackground);
}

li:focus a, .nav-link:focus, .nav-item:focus, .dropdown-toggle:focus{
  background-color: var(--rda-widgetbackground);
  background-color: var(--rda-navbackground); 
}




/* Tables Results tab*/
body .ui-datatable thead th .ui-column-title {
  font-weight: 600;
  vertical-align: middle;
}

body .ui-datatable thead th {
  background-color: var(--bs-body-bg);
  color: var(--rda-widgetsbackground);
  padding: 1rem 1rem;
  border: 1px white;
  text-align: left;
  text-transform: uppercase;
  box-sizing: content-box;
}

tbody, tfoot, thead, tr {
  border: none!important;
  background-color: var(--bs-body-bg);
  line-height:0;
}

td{
  border: none!important;
  color: var(--rda-widgetsbackground);
  background-color: var(--bs-body-bg);
  line-height:0;
}


tbody:hover, td:hover, tfoot:hover, thead:hover, tr:hover{
  background: var(--rda-widgetsbackground);
  color:white;
}

.col-5 {
  color: var(--rda-widgetsbackground);
  text-transform: capitalize;
  font-weight: 600;
  line-height: 1;
  padding-left: 30px!important;
}

.col-7 {
  color: var(--rda-widgetsbackground);
  text-transform: capitalize;
  font-weight: 400;
  line-height: 1;
  padding-left: 30px!important;
}


body .ui-tabs.ui-tabs-top > .ui-tabs-nav{
  background: var(--bs-body-bg);
}


body .ui-tabs.ui-tabs-top > .ui-tabs-nav li.ui-tabs-header.ui-state-active, 
body .ui-tabs .ui-tabs-nav li.ui-tabs-header.ui-state-active a{
  background: var(--bs-body-bg);
  color: var(--rda-widgetsbackground);
  border-color:var(--rda-widgetsbackground);
  box-shadow: none;
}

body .ui-tabs.ui-tabs-top > .ui-tabs-nav li.ui-tabs-header.ui-state-hover, 
body .ui-tabs .ui-tabs-nav li.ui-tabs-header.ui-state-hover a,
body .ui-tabs.ui-tabs-top > .ui-tabs-nav li.ui-tabs-header{
  background: var(--bs-body-bg);
  color: var(--rda-widgetsbackground);
}

body .ui-tabs .ui-tabs-panels .ui-tabs-panel{
  background: var(--bs-body-bg);
}

.ui-selectonemenu label.ui-selectonemenu-label{
  background-color:var(--rda-widgetsbackground);
}



/* This is the upload form div*/
.card {
  background-color: var(--bs-body-bg);
  border: none;
}

label {
    display: inline-block;
    color: var(--rda-widgetsbackground);
    text-transform: capitalize;
}



/* Uitlijning*/

.container, .container-fluid, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl{
  padding-right: 0;
  padding-left: 0;
}

#content {
  --bs-gutter-x: 1.5rem;
  margin-left:calc(0.5 * var(--bs-gutter-x));
  margin-right:calc(0.5 * var(--bs-gutter-x));
}

#text {
  --bs-gutter-x: 1.5rem;
  margin-left:calc(0.5 * var(--bs-gutter-x));
}

#loginfrm{
  --bs-gutter-x: 1.5rem;
  margin-right:calc(0.5 * var(--bs-gutter-x));
}


/* Uitlijning*/
.row>*, .row {
  padding-right: 0;
  padding-left: 0;
  margin-top: 0.25rem!important;
  margin-left:0;
  margin-right:0;
}


